body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.page {
  display: flex;

  &-sidebar {
    width: 25%;
  }
  &-map {
    width: 75%;
  }
}

// .btn {

//   &.btn-primary {
//     background: #000;
//   }
//   &.btn-primary {
//     background: #000;
//   }
//   @media (min-width: 768px) {

//     &.btn-primary {
//       background: #000;
//     }
//     &.btn-primary {
//       background: #000;
//     }
//   }
// }
