@import "./SignUp";
@import "./Map";
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.page {
  display: flex;
  position: relative;

  &-map {
    width: 100%;
  }
}

.logo-icon {
  width: 5.5rem;
  overflow: visible;
  .marker-1,
  .marker-2 {
    animation-name: marker-animation;
    animation-duration: 3s;
    animation-iteration-count: infinite;
  }
  .marker-2 {
    animation-delay: 1.5s;
  }

  @keyframes marker-animation {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-32px);
    }
    100% {
      transform: translateY(0);
    }
  }
}
